# Secret key used by Django for cryptographic signing.
SECRET_KEY=django-insecure-iz%xj4qh6aks3e$$dy&489*6)hk2^c9_ew4%-%nw*u=*u#qzne1

# Name of the PostgreSQL database.
DBNAME=hotline

# PostgreSQL username.
DBUSER=hotline_user

# PostgreSQL password.
DBPASSWORD=000000

# Hostname for the database server.
DBHOST=127.0.0.1

# Port for the database server.
DBPORT=5432

# Enable Django debug mode.
DEBUG=True

# Comma-separated list of allowed hostnames.
ALLOWED_HOSTS=localhost,127.0.0.1
