annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
asgiref==3.9.1
astroid==4.0.4
Authlib==1.7.2
bandit==1.9.4
black==26.5.1
certifi==2026.7.22
cffi==2.1.1
cfgv==3.5.0
click==8.4.2
cryptography==50.0.0
defusedxml==0.7.1
dill==0.4.1
distlib==0.4.3
Django==5.2.4
django-autoslug==1.9.9
django-cities-light==3.10.2
django-environ==0.12.0
django-js-asset==3.1.2
django-model-utils==5.0.0
django-mptt==0.18.0
djangorestframework==3.16.0
dparse==0.6.4
filelock==3.32.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
identify==2.6.19
idna==3.18
isort==8.0.1
Jinja2==3.1.6
joblib==1.5.3
joserfc==1.7.4
markdown-it-py==4.2.0
MarkupSafe==3.0.3
marshmallow==4.3.1
mccabe==0.7.0
mdurl==0.1.2
mypy_extensions==1.1.0
nltk==3.10.2
nodeenv==1.10.0
packaging==26.2
pathspec==1.1.1
pillow==12.0.0
platformdirs==4.11.0
pre_commit==4.6.1
progressbar2==4.5.0
psycopg2==2.9.11
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pylint==4.0.6
pylint-django==2.8.0
pylint-plugin-utils==0.9.0
python-discovery==1.5.1
python-utils==3.9.1
pytokens==0.4.1
pytz==2025.2
PyYAML==6.0.3
regex==2026.7.19
rich==15.0.0
ruamel.yaml==0.19.1
safety==3.8.1
safety-schemas==0.0.16
shellingham==1.5.4
six==1.17.0
sqlparse==0.5.3
stevedore==5.9.0
swapper==1.4.0
tenacity==9.1.4
tomlkit==0.15.1
tqdm==4.67.1
truststore==0.10.4
typer==0.25.1
typing-inspection==0.4.3
typing_extensions==4.15.0
Unidecode==1.4.0
virtualenv==21.7.1
